@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400&display=swap');

body{
  background-color: rgb(34, 34, 34);
  color: #00ffff;
  font-family: 'Orbitron',sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


#main{
    display: flex;
    background-color: #222;
    width: 330px;
 justify-content: center;
    font-size: 40px;
    gap: 4px;
    box-shadow: -5px -5px 5px rgba(255,255,255,0.05),
                 5px 5px 5px rgba(0,0,0,0.5) ;
    padding: 30px;
    font-weight: 100;
    letter-spacing: 1px;
    border-radius: 10px;
}

#ampm{
    margin-left: 15px;
}
